.zoom-icon {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.carousel-icon-light {
  opacity: 0.4;
}

.carousel-icon-dark {
  opacity: 1;
}

.flex-fixed-width-item {
  flex: 0 0 60px;
}

.spritespin-progress {
  left: 0% !important;
  top: 45% !important;
  padding: 0px 50px;
}

.spritespin-progress-label {
  color: grey;
}

.spritespin-progress-bar {
  background-color: grey;
  height: 10px;
}
