@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-size-12 {
  font-size: 12px;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.transition {
  transition: all 0.5s ease;
}

.cursor-grabbable {
  cursor: grab;
}

.cursor-grabbable:active {
  cursor: grabbing;
}